[run]
branch = True
source = .
omit =
     # Virtual environment and build artifacts
     .venv/*
     htmlcov/
     */node_modules/*

     # Django specific exclusions
     */migrations/*
     */static/*
     */templates/*
     */__init__.py
     manage.py

     # Test files themselves
     */tests/*
     tests.py

[report]
# Show the context for each covered line in the HTML report
#show_contexts = True

# Fail the build if the total coverage is below this minimum percentage
fail_under = 40

[html]
# Directory to write the HTML report files to
directory = htmlcov
# Title for the HTML report
title = Job Application Tracker Test Coverage Report
