**/.venv
.github
**/.idea
#**/node_modules
**/__pycache__/
**/*~
.dockerignore
docker-compose.yml
docker-compose-prod.yml
job-application-tracker-docker.yml
job-application-tracker-beta.yml
samples
errs
node_modules
