{% extends "master.html" %}

{% block extra_body_classes %}login{% endblock %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="login-div container-sm text-center">
        <div class="card">
            <div class="card-header bg-primary-subtle h3">
                {{ SITE_NAME }}
            </div>
        </div>
        <h4 class="text-center">Log In</h4>
        <form method="post" class="inline-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
