{% extends "master.html" %}
{% load widget_tweaks %}

{% block extra_body_classes %}auth{% endblock %}

{% block title %}Password reset confirmation{% endblock %}

{% block content %}
    <div class="auth-div container-sm text-center">
        <div class="card">
            <div class="card-header bg-primary-subtle h3">
                {{ SITE_NAME }}
            </div>
        </div>
        <h4 class="text-center">Enter new password</h4>

        <p>
            Please enter your new password twice so that we can verify you typed it in correctly.
        </p>

        <form method="post" class="inline-form {% if form.errors %}was-validated{% endif %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">There were errors processing this form:</h4>
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for field in form %}
                <div class="row mb-3">
                    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field|add_class:"form-control"|add_error_class:"is-invalid" }}
                        <div class="invalid-feedback text-start">
                            {{ field.errors }}
                        </div>
                        {% if field.help_text %}
                            <small class="text-muted text-start">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit">Change my password</button>
        </form>
    </div>
{% endblock %}
