{% load widget_tweaks %}

{% if field.use_fieldset %}
    <fieldset{% if field.aria_describedby %} aria-describedby="{{ field.aria_describedby }}"{% endif %}>
{% endif %}
{{ field.errors }}
{{ field|add_class:"form-control"|add_error_class:"is_invalid" }}
{% if field.label %}{{ field.label_tag }}{% endif %}
{% if field.help_text %}
    <div class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
{% if field.use_fieldset %}</fieldset>{% endif %}
