DEBUG=on

ADMINS=['"Your Name" <you@example.com>']

MYHOSTNAMES='localhost,web'

SERVER_EMAIL="root@example.com"

DATABASE_URL='postgres://job_application_tracker:some-secure-password@postgres.example.com:5432/job_application_tracker'

EMAIL_BACKEND="django.core.mail.backends.filebased.EmailBackend"
EMAIL_FILE_PATH="/tmp/job-application-tracker-messages"

DEFAULT_FROM_EMAIL="admin@example.com"

SECRET_KEY='some-secret-key'

USE_X_FORWARDED_HOST=False
USE_X_FORWARDED_PORT=False

SECURE_PROXY_SSL_HEADER=''

SESSION_COOKIE_SECURE=False

CSRF_COOKIE_SECURE=False
CSRF_TRUSTED_ORIGINS='http://example.com:8000'

SITE_NAME="Job Application Tracker"

DJANGO_ENV="development"
