{% extends "user-master.html" %}
{% load widget_tweaks %}

{% block head_title %}Log in{% endblock %}

{% block user_title %}Log In{% endblock %}

{% block user_form %}
    <form method="post" class="inline-form {% if form.errors %}was-validated{% endif %}">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name != "remember" %}
                <div class="row form-floating mb-3">
                    {{ field|add_class:"form-control"|add_error_class:"is-invalid" }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="invalid-feedback text-start">
                        {{ field.errors }}
                    </div>
                    {% if field.help_text %}
                        <small class="text-muted text-start">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% else %}
                <div class="mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit">Log In</button>
    </form>
{% endblock %}
