{% extends "master.html" %}
{% load widget_tweaks %}

{% block extra_body_classes %}auth{% endblock %}

{% block head_title %}Password change done{% endblock %}

{% block content %}
    <div class="auth-div container-sm text-center">
        <div class="card">
            <div class="card-header bg-primary-subtle h3">
                {{ SITE_NAME }}
            </div>
        </div>
        <div class="alert alert-success" role="alert">
            <h4 class="text-center">Password change successful</h4>
            Your password was successfully changed.
        </div>
    </div>
{% endblock %}
