{% extends "master.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Server error (500)' %}{% endblock %}

{% block extra_body_classes %}error{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center" style="height: 165px">
        <div class="alert alert-info flex-grow-1 h-100 mx-2 mb-0 justify-center align-items-center fw-bold text-center"
             role="alert">
            <div class="display-2 d-inline-flex h-100 align-items-center">{% translate 'Page not found' %}</div>
        </div>
    </div>
    <div class="display-6 mt-5">
        {% translate 'We’re sorry, but the requested page could not be found.' %}
    </div>
{% endblock %}
