{% extends "master.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About this application</h1>

    <p>This application is Copyright &copy; 2024-2026 Douglas Wade Needham. See the
       <a href="https://github.com/cinnion/job-application-tracker/blob/main/LICENSE">LICENSE</a> file for details.
    </p>

    {% if BUILD_INFO.Error %}
        <div class="alert alert-warning" role="alert">
            {{ BUILD_INFO.Error }}
        </div>
    {% endif %}

    <div>Build ID: {{ BUILD_INFO.BUILD_ID }} (Commit: {{ BUILD_INFO.GIT_COMMIT }}</div>
    <div>Build Number: {{  BUILD_INFO.BUILD_NUMBER }}</div>
    <div>Job Name: {{ BUILD_INFO.JOB_NAME }}</div>
    <div>Build URL: {{ BUILD_INFO.BUILD_URL }}</div>
    <div>Git Branch: {{ BUILD_INFO.GIT_BRANCH }}</div> 
    <div>Git Tag: {{ BUILD_INFO.GIT_TAG }}</div>
    <div>Last Built: {{ BUILD_INFO.BUILD_DATE }}</div>

{% endblock %}
