{% extends "master.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block head_title %}Home{% endblock %}

{% block additional_css %}
    <style>
        .follow-me {
            display: flex;
            justify-content: center;
            max-height: 250px;
            width: auto;
            padding: 15px;
        }
    </style>
{% endblock %}

{% block extra_body_classes %}home{% endblock %}

{% block content %}
    <div class="follow-me">
        <video preload="auto" loop autoplay muted id="video">
            <source src="{% static 'images/aviacion-ejercito.webm' %}" type="video/webm">

            <!-- Fallback content for browsers which do not support the video tag.  Are there any these days? -->
            I'm sorry, but your browser appears to not support the video tag.
        </video>
    </div>

    <div>
        <p>
            Welcome to my job application tracking application demo. What was originally a very quick and very dirty
            creation intended solely for personal use to replace a Google spreadsheet which had grown to be tedious to
            use has grown into something more. I had not even thought of using it as a sample of my work at the time,
            or even if I wanted to have more than something which contained more than the spreadsheet, but allowed for
            filtering.
        </p>
        <p>
            Now, it supports multiple users, complete with signup with required email verification and password resets,
            and I have some ideas on how to enhance it for not only myself, but others. I have plans add some automated
            cleanup of the job post URLs to remove the unnecessary cruft which always seems to be added by the major
            sites, but also to look at doing that while scraping the page for the post to fill in the company and job
            title. And I also want to restyle the detailed view of the entry so that the body of the form scrolls while
            the save button stays at the bottom of the window. And lastly, I am giving serious thought to adding the
            ability to maintain and generate resumes to this application, with output in both Word format and PDF.
        </p>
        <p>
            To see it in action, click on the Sign In link at the top, use the username of <pre>demo</pre>, with a
            password of the same with a single character from the widest key on your keyboard added to the end. (Think of
            that description as the equivalent of a Captcha.) Then, please follow the "Job Applications" link which
            will appear above to see the real part of this application.  Please feel to add or edit entries to try
            things out.
        </p>
        <p>
            If you like what you see, please let me know, and also feel free to make suggestions. And if you want to
            help support me, also please reach out. My contact information is on my main web site for this domain.
        </p>
    </div>

    <div class="alert alert-info" role="alert">
        Please note that the database records for that user are going to be regularly deleted and refreshed, to get rid
        of any SPAM which might be added. Also, please be aware that I have logging enabled, including IP addresses.
    </div>
{% endblock %}
