{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block additional_css %}{% endblock %}

    {% render_bundle 'bundle' %}
    {% block additional_scripts %}{% endblock %}
    <script type="text/javascript">
        {% block js %}{% endblock %}
    </script>
</head>
<body class="{% block extra_body_classes %}{% endblock %}">
    <nav class="navbar">
        <ul class="nav-left">
            <li><a href="{% url "homepage" %}">Home</a></li>
            <li><a href="{% url "applications:application-list" %}">Job Applications</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="{% url "about" %}">About</a></li>
        </ul>
    </nav>
    {% block subnav %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
