body.home {
    background:         black;
    color:              white;
}

// Pages which deal with authentication, such as login, logout, password change, password reset.
body.auth div.auth-div {
    max-width:          576px !important;
}

body.auth div#messages, body.auth div.helptext, body.auth span.helptext {
    text-align:         left;
}

div.form-check label, p.form-check label, li.form-check label {
    text-align:         left;
    display:            block;
}
