body.home {
    background:         black;
    color:              white;
}

// Pages which deal with authentication, such as login, logout, password change, password reset.
body.auth div.auth-div {
    max-width:          576px !important;
}
